name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_DEPLOY_KEY }}
          port: 22
          script: |
            # Go to app directory
            cd /home/nativediscounts/htdocs/www.nativediscounts.com/nativediscount
            # /home/indiatellamaweb/htdocs/www.indiatellama.com

            # Ensure we are on master branch
            git fetch origin master
            git reset --hard origin/master

            # Install dependencies
            npm install --production

            # Export environment variables
            # export NODE_ENV=${{ secrets.NODE_ENV }}
            # export PORT=${{ secrets.PORT }}
            # export GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            # export GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            # export PROD_DB_STRING=${{ secrets.PROD_DB_STRING }}
            # export DB_NAME=${{ secrets.DB_NAME }}
            # export JWT_SECRET=${{ secrets.JWT_SECRET }}
            # export NEXT_PUBLIC_SITE_URL=${{ secrets.NEXT_PUBLIC_SITE_URL }}
            # export NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
            # export FACEBOOK_CLIENT_ID=${{ secrets.FACEBOOK_CLIENT_ID }}
            # export FACEBOOK_CLIENT_SECRET=${{ secrets.FACEBOOK_CLIENT_SECRET }}
            # export NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}

            # Build Next.js project
            npm run build

            # Restart app with PM2
            pm2 restart nativediscounts || pm2 start npm --name "nativediscounts" -- start -- --port 3000
